.image-container {
	z-index: -10;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	left: 0;
	top: 0;
}

.image-container .text {
	z-index: -1;
	width: 300px;
	height: auto;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -100px;
}

.image-container .down-arrow {
	max-width: 100px;
	height: auto;
	position: absolute;
	bottom: 5%;
	left: 50%;
	margin-left: -50px;
	overflow: hidden;
	cursor: pointer;
}

.paypal-redirect {
	z-index: 10;
	height: 300px;
	width: 400px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -150px;
	background-color: white;
	padding: 30px;
	border-radius: 30px;
	border: 3px solid #ccc;
	background-color: #F6EBDC;
	display: none;
}

.paypal-redirect h3 {
	text-align: center;
	margin-bottom: 30px;
}

.paypal-redirect p {
	text-align: center;
}

.paypal-redirect form {
	position: absolute;
	width: 100px;
	left: 50%;
	border: none;
}

#close-redirect {
	padding: 10px;
	border-radius: 20px;
	position: absolute;
	background-color: #ccc;
	top: -10px;
	right: -10px;
	cursor: pointer;
}

#redirect-button {
	width: 200px;
	position: absolute;
	left: 50%;
	margin-top: 40px;
	margin-left: -150px;
	border: none;
}

@media only screen and (max-height: 500px) {
	.image-container .text {
		width: 200px;
		margin-left: -100px;
		margin-top: -66px;
	}
}
