body {
	font-family: 'PT Sans', sans-serif;
}

.avatart, .avatarb {
	width: 80%;
	padding-top: 20px;
}

.avatarb {
	padding-bottom: 20px;
}

.about-us-section, .product-section {
	background-color: #eee;
	padding-top: 10px;
}

footer {
	width: 100%;
	background-color: #888;
	padding-top: 20px;
}

hr {
	width: 80%;
}

.pad {
	padding: 0px 20px;
}

.row {
	padding-bottom: 30px;
}

#about-header, #funding-header, #product-header, #contact-header, #footer-header {
	text-align: center;
	width: 100%;
	color: #555;
}

.rest-of-page {
	background-color: white;
	z-index: 0;
	position: absolute;
	top: 100%;
	padding-top: 10px;
}

.full-width {
	width: 100%;
}

/*----------------- Start -----------------*/

.navigation-bar-background {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height:100%;
	background-color: #888;
	opacity: 0.0;
}

.navigation-bar-wrapper {
	z-index: 99;
	position: fixed;
	width: 100%;
	height: 75px;
	border-bottom: 2px solid #fff; /* text-color */

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.navbar-bg-image {
	height: 100%;
	min-width: 100%;
	width: 1050px;
	position: absolute;
	top: 0px;
}

.image-container {
	z-index: -10;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	left: 0;
	top: 0;
}

img#image-text {
	z-index: -1;
	width: 300px;
	height: auto;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -100px;
}

@media only screen and (max-height: 500px) {
	img#image-text {
		width: 200px;
		margin-left: -100px;
		margin-top: -66px;
	}
}

img.down-arrow {
	max-width: 100px;
	height: auto;
	position: absolute;
	bottom: 5%;
	left: 50%;
	margin-left: -50px;
	overflow: hidden;
	cursor: pointer;
}

header {
	position: fixed;
	top: 5px;
	left: 3%;
	right: 2%;
	z-index: 999;
	height: 60px;
	padding-top: 5px;
	padding-bottom: 15px;
	overflow: visible;
}

#logo {
	float: left;
	margin-left: 1%;
	margin-top: 5px;
	clear: both;
}

#title {
	display: inline;
	width: 200px;
}

/* -------------------- NAVIGATION BAR-------------------- */

nav {
	float: right;
	margin-top: 20px;
	height: 50px;
}

.nav-link {
	cursor: pointer;
}

.navbar li {
	float: left;
	list-style: none;
	text-align: center;
	width: 120px;
	color: #fff; /* text-color */
	padding: 0;
	margin: 0;
}

.navbar li:first-of-type {
	border: none;
}

.navbar li {
	border-left: 2px solid #fff; /* text-color */
}

.navbar a {
	text-decoration: none;
	color: #fff; /* text-color */
}

.navbar a:hover {
	color: #fff; /* text-color */
}

/* nested list */
.navbar li ul {
	display: none;
	margin: 0;
	padding: 0;
}

.navbar li:hover ul {
	display: block;
}

.navbar li:hover ul li:first-of-type {
	margin-top: 24px;
	border-left: 2px solid #fff; /* text-color */
}

.navbar li:hover ul li {
	padding: 10px;
	margin-left: -2px;
	padding-right: 10px;
	border-bottom: 2px solid white;
	/*background-color: transparent; /* bg-color */*/
}

img#burger-image {
	height: 32px;
	width: 32px;
	position: fixed;
	right: 6%;
	top: 19px;
	display: none;
}

@media only screen and (max-width: 1050px) {
	img#burger-image {
		display: block;
	}

	nav {
		visibility: hidden;
	}
}

/* -------------------- BURGER MENU -------------------- */

.burger-menu {
	z-index: 9999;
	background-color: #555; /* bg-color */
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 300px;

	display: table;
	position: fixed;
	min-height: 380px;
}

.burger-menu-head {
	height: 75px;
	border-bottom: 2px solid #fff; /* text-color */
}

.burger-back-arrow {
	height: 32px;
	width: 32px;
	position: fixed;
	right: 6%;
	top: 19px;
	z-index: 9999;
}

.burger-menu-subtext {
	color: #fff; /* text-color */
	text-align: center;

	display: table-row;
	vertical-align: bottom;
}

.burger-nav {
	display: table-row;
	vertical-align: middle;
}

.burger-nav li {
	min-width: 200px;
	max-width: 80%;
	list-style: none;
	text-align: right;
	color: #fff; /* text-color */
	padding: 20px 0;
	margin: 0;
	font-size: 30px;
	font-weight: bold;
}

.burger-nav a {
	text-decoration: none;
	color: #fff; /* text-color */
}

.burger-nav li ul {
	margin: 0;
	padding: 0;
	display: none;
}

@media only screen and (max-height: 580px) {
	.burger-nav li {
		font-size: 20px;
		padding: 15px 0;
		min-width: 133px;
	}
	.burger-menu {
		width: 200px;
	}
}

@media only screen and (max-height: 580px) and (max-width: 600px) {
	.burger-menu {
		width: 100%;
	}
}

@media only screen and (max-width: 600px) {
	.burger-menu {
		width: 100%;
	}

	.burger-nav li {
		text-align: center;
		max-width: 100%;
	}
}

@media only screen and (max-height: 630px) {
	.burger-nav li {
		font-size: 25px;
		padding: 17px 0;
	}
}

@media only screen and (max-height: 525px) {
	.burger-nav li {
		font-size: 15px;
		padding: 10px 0;
	}
}
