@import url("home.css");
@import url("navigation-bar.css");
@import url("navigation-menu.css");
@import url("burger-menu.css");
@import url("form.css");

body {
	font-family: 'PT Sans', sans-serif;
}

.paypal-redirect {
	z-index: 10;
	height: 300px;
	width: 400px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -150px;
	background-color: white;
	padding: 30px;
	border-radius: 30px;
	display: none;
}

.paypal-redirect h3 {
	text-align: center;
	margin-bottom: 30px;
}

.paypal-redirect p {
	text-align: center;
}

.paypal-redirect form {
	position: absolute;
	width: 100px;
	left: 50%;
}

#close-redirect {
	padding: 10px;
	border-radius: 20px;
	position: absolute;
	background-color: #ccc;
	top: -10px;
	right: -10px;
	cursor: pointer;
}

#redirect-button {
	width: 200px;
	position: absolute;
	left: 50%;
	margin-top: 40px;
	margin-left: -150px;
}

footer {
	color: #444;
}

footer div p {
	text-align: center;
}

.footer.copyright {
	text-align: center;
}

/*   misc   */

.avatart, .avatarb {
	width: 80%;
	padding-top: 20px;
}

.avatarb {
	padding-bottom: 20px;
}

.about-us-section, .product-section {
	background-color: #eee;
	padding-top: 10px;
}

footer {
	width: 100%;
	background-color: #888;
	padding-top: 20px;
}

p.footer {
	text-align: center;
}

hr {
	width: 80%;
}

.pad {
	padding: 0px 20px;
}

.row {
	padding-bottom: 30px;
}

#about-header, #funding-header, #product-header, #contact-header, #footer-header {
	text-align: center;
	width: 100%;
	color: #555;
}

.rest-of-page {
	background-color: white;
	z-index: 0;
	position: absolute;
	top: 100%;
	padding-top: 10px;
}

.full-width {
	width: 100%;
}
