@import url("home.css");
@import url("navigation-bar.css");
@import url("navigation-menu.css");
@import url("burger-menu.css");
@import url("form.css");

body {
	font-family: 'PT Sans', sans-serif;
}

/*   misc   */

.avatart, .avatarb {
	width: 80%;
	padding-top: 20px;
}

.avatarb {
	padding-bottom: 20px;
}

.about-us-section, .product-section {
	background-color: #eee;
	padding-top: 10px;
}

footer {
	width: 100%;
	background-color: #888;
	padding-top: 20px;
}

p.footer {
	text-align: center;
}

hr {
	width: 80%;
}

.pad {
	padding: 0px 20px;
}

.row {
	padding-bottom: 30px;
}

#about-header, #funding-header, #product-header, #contact-header, #footer-header {
	text-align: center;
	width: 100%;
	color: #555;
}

.rest-of-page {
	background-color: white;
	z-index: 0;
	position: absolute;
	top: 100%;
	padding-top: 10px;
}

.full-width {
	width: 100%;
}
