body {
	font-family: 'PT Sans', sans-serif;
	width: 80%;
	max-width: 800px;
	margin: 20px auto 0px auto;
	background-color: #F6EDDE;
}

hr#title-hr {
	width: 200%;
	margin-left: -50%;
	position: relative;
	top: -14px;
	color: black;
	margin-bottom: -25px;
}

.container {
	position: relative;
	top: 30px;
}

h2 {
	text-align: center;
}

.date {
	position: relative;
	font-weight: 800;
	color: #444;
	font-size: 14px;
	top: -15px;
	margin-bottom: -10px;
}

a.button {
	display: inline-block;
	text-align: center;
	width: 200px;
	max-width: 100%;
	text-decoration: none;
	background-color: blue;
	border-radius: 5px;
	margin-top: 20px;
	margin-right: 20px;
	padding: 10px;
	color: white;
	position: relative;
	top: 10px;
	left: 0px;
}

@media only screen and (max-width: 610px) {
	a.button {
		width: 100%;
	}
}

a {
	text-decoration: none;
	color: #000;
}
