body {
	font-family: 'PT Sans', sans-serif;
	width: 80%;
	max-width: 800px;
	margin: 20px auto 0px auto;
	background-color: #F6EDDE;
}

.container {
	position: relative;
	top: 30px;
}

h2 {
	text-align: center;
}

.date {
	position: relative;
	font-weight: 800;
	color: #444;
	font-size: 14px;
	top: -15px;
	margin-bottom: -10px;
}

a.button {
	text-decoration: none;
	background-color: blue;
	border-radius: 5px;
	margin-top: 20px;
	padding: 10px;
	color: white;
	position: relative;
	top: 10px;
	left: 0px;
}

a {
	text-decoration: none;
	color: #000;
}
