body {
	font-family: 'PT Sans', sans-serif;
}

.buttons {
	text-align: center;
}

hr#title-hr {
	width: 200%;
	margin-left: -50%;
	position: relative;
	top: -14px;
	color: black;
	margin-bottom: -25px;
}

.container {
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
	top: 90px;
	text-align: center;
	max-width: 800px;
}

.container h3, .container p {
	text-align: left;
}

h2 {
	text-align: center;
}

.date {
	position: relative;
	font-weight: 800;
	color: #444;
	font-size: 14px;
	top: -8px;
	margin-bottom: 0px;
}

a.button {
	display: inline-block;
	text-align: center;
	width: 200px;
	max-width: 90%;
	text-decoration: none;
	background-color: #BD612B;
	border-radius: 5px;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	padding: 10px;
	color: white;
	position: relative;
	top: 80px;
}

@media only screen and (max-width: 610px) {
	a.button {
		width: 100%;
	}
}

a {
	text-decoration: none;
	color: #000;
}
